
@model List<IceWallOw.Application.Dto.ProductDto>

@{
    ViewData["Title"] = "Home Page";
}

      <div class="row products"> 
    <h1>Produkty</h1>
@foreach (var product in Model)
{
    
    <div class="card product" style="width: 18rem;">
      <img class="card-img-top" src="@product.PhotoPath" alt="Card image cap"/>
        <div class="card-body">
        <h5 class="card-title">@product.Name</h5>
        <p class="card-text">@product.Description</p>
        <p class="card-text">@product.Price</p>
        <p class="card-text">@product.CategoryName</p>
        <a href="@product.Location" class="btn btn-primary">@product.Location</a>
      </div>
    </div>

}
  </div>


   <!-- End offers -->
   <!-- End Home -->